@media(max-width:622px){
    .col{
        display: grid;
        justify-content: center;
    }
}

.card-body{
    height: 200px;
}

.card{
    margin-top: 50px;
}

p{
    font-size: 13px;
}

span{
    font-size: 22px;
    margin-left: 5px;
    color: rgb(245, 48, 74);
}